build_config.mk
*.a
*.o
*.dylib*
*.so
*.so.*
*_test
db_bench
leveldbutil

VisualStudio2015/*
!VisualStudio2015/leveldb.sln
!VisualStudio2015/leveldb.vcxproj
!VisualStudio2015/leveldb.vcxproj.filters
!VisualStudio2015/leveldb.vcxproj.user

tags
