build_config.mk
*.a
*.o
*.dylib*
*.so
*.so.*
*_test
db_bench
leveldbutil

VisualStudio2015/*
!VisualStudio2015/leveldb.sln
!VisualStudio2015/leveldb.vcxproj
!VisualStudio2015/leveldb.vcxproj.filters
!VisualStudio2015/leveldb.vcxproj.user

tags
*~
*.orig

!VisualStudio2015/leveldb_usage_test
VisualStudio2015/leveldb_usage_test/Debug
VisualStudio2015/leveldb_usage_test/Release
VisualStudio2015/leveldb_usage_test/test


